* {
    transition: all 10s linear ;
}

.select {
    width: 300px;
}

.select label {
    background-color: orange;
    color: white;
    display: block;
    width: 100%;
    padding-left: 0 10px;
    height: 0;
}

.code {
    display: none;
    white-space: pre;
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 10px;
}

#acordion:checked ~ .code {
    height: 180px;
}

input[type="checkbox"] {
    display: none;
}

.property {
    color: wheat;
}


